
@{
    ViewData["Title"] = "ProductPage";
}
@model List<Product>;
<h1>Product Page</h1>
<a asp-controller="product" asp-action="add" asp-route-id="">Ürün Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Silme</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>
                    <a asp-controller="product" asp-action="remove" asp-route-id="@item.Id">Sil</a>
                    <a asp-controller="product" asp-action="update" asp-route-id="@item.Id">Güncelle</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
